*,
:after,
:before {
  box-sizing: border-box;
}

html {
  min-height: 100%;
}

body {
  background-image: linear-gradient(#615dad, #ffc8da);
  padding: 65px 0 65px 0;
  display: flex;
  justify-content: center;
  background-repeat: no-repeat;
}

.uvodni {
  width: 100%;
  border-top-left-radius: 2%;
  border-top-right-radius: 2%;
}

h1,
.h1-pravidla,
.h1-hra {
  font-family: 'Lobster', cursive;
  font-size: 3rem;
  font-weight: 500;
  color: white;
}

.h1-pravidla,
.h1-hra {
  text-align: center;
}

.ikona-cross,
.ikona-circle {
  width: 1em;
  height: 1em;
  filter: invert(100%);
  vertical-align: -0.1em;
}

.kontejner {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.main-home {
  background-color: #283e50;
  color: white;
  font-family: Arial;
  font-size: 1rem;
  width: 100%;
  max-width: 640px;
  height: auto;
  padding: 0 10px 20px 10px;
  text-align: center;
  line-height: 1.5;
}

/* ----- Stránka Hra ----- */
.body-hra {
  background-image: linear-gradient(#615dad, #ffc8da);
  padding: 30px 0 0 0;
  /*display: flex;
  justify-content: center;*/
  background-repeat: no-repeat;
}

.main-hra {
  color: white;
  font-family: Arial;
  font-size: 1.5rem;
  font-weight: 500;
  /*width: 100%;*/
  max-width: 80vmin;
  /*max-width: 640px;*/
  display: flex;
  flex-direction: column;
  /*padding: 0 30px 0 30px;*/
}

.lista {
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.hraje {
  margin-top: 15px;
  width: 100%;
}

.hraje-text {
  margin-top: 0;
  margin-bottom: 0;
}

.ikony-hra {
  display: flex;
}

.hraci-pole {
  display: flex;
  flex-wrap: wrap;
}

/*.prvni-radek,
.druhy-radek,
.treti-radek,
.ctvrty-radek,
.paty-radek,
.sesty-radek,
.sedmy-radek,
.osmy-radek,
.devaty-radek,
.desaty-radek {
  display: flex;
  justify-content: center;
}*/

.hraci-pole__btn {
  opacity: 0.5;
  /*min-width: 25px;
  min-height: 25px;
  min-height: 25px;
  width: 100%;*/
  border: black solid 1px;
  padding: 0;
  width: calc(80vmin / 10);
  height: calc(80vmin / 10);
}

.hraci-pole__btn:hover {
  cursor: pointer;
  filter: brightness(110%);
}

.ikona-restart {
  background-color: #0197f6;
  /*font-family: sans-serif;
  font-size: 1rem;*/
  width: auto;
  height: 50px;
  display: flex;
  justify-content: center;
  padding: 10px 12px 10px 10px;
}

.ikona-restart__odkaz {
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 100%;
}

.ikona-restart:hover {
  background-color: #0090e9;
  /*border-radius: 5px;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 100%;*/
}

.ikona-home {
  background-color: #1fcca4;
  /*font-family: sans-serif;
  font-size: 1rem;*/
  /*width: auto;*/
  padding: 10px;
  width: auto;
  height: 50px;
  /*text-align: center;*/
  display: flex;
  justify-content: center;
}

.ikona-home__odkaz {
  /*background-color: #1fcca4;*/
  border-radius: 5px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 100%;
  /*width: 50px;
  height: 50px;
  margin-right: 10px;*/
}

.ikona-home:hover {
  background-color: #1cbb96;
}

.ikona-restart,
.ikona-home {
  border-radius: 5px;
}

/* ----- Stránka Pravidla ----- */
.main-pravidla {
  background-color: #283e50;
  color: white;
  font-family: Arial;
  font-size: 1rem;
  font-weight: 100;
  width: 100%;
  max-width: 640px;
  line-height: 1.5;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.list-pravidla {
  text-align: left;
  line-height: 1;
  padding-right: 20px;
}

li {
  line-height: 1.5;
  padding: 10px;
  margin-left: 30px;
  margin-right: 10px;
}

.img-blok {
  padding-top: 10px;
  padding-bottom: 10px;
}

.img-pravidla {
  max-width: 100%;
}

.popisek-pravidla {
  font-style: italic;
  text-align: center;
}

@media (min-width: 640px) {
  .img-kontejner {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .img-blok {
    width: 50%;
    margin: 0;
    padding-left: 20px;
    padding-right: 20px;
  }
}

/* ----- Obecná nastavení buttonů ----- */

.button-pravidla {
  background-color: #1fcca4;
  font-family: sans-serif;
  font-size: 1rem;
  width: auto;
  height: 50px;
  text-align: center;
  display: flex;
  justify-content: center;
}

.button-home {
  background-color: #1fcca4;
  font-family: sans-serif;
  font-size: 1rem;
  width: auto;
  height: 50px;
  text-align: center;
  display: flex;
  justify-content: center;
}

.button-start {
  background-color: #0197f6;
  font-family: sans-serif;
  font-size: 1rem;
  height: 50px;
  display: flex;
  justify-content: center;
}

.odkaz-pravidla,
.odkaz-start,
.odkaz-home {
  text-decoration: none;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 100%;
}

.odkaz-pravidla:hover,
.odkaz-home:hover {
  background-color: #1cbb96;
}

.odkaz-start:hover {
  background-color: #0090e9;
}
